html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(to right top, #2d0036, #4f015b, #730283, #9a02ac, #c400d7);
  height: 100vh;
  width: 100vw;
  background-repeat: repeat ;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}